### this is the config file for run_addAnnotation.sh
### to run that script: sh <code_dir>/run_addBAMinfo.sh -c <parameters_dir>/addBAMinfo_Params_PA.txt PID1 PID2 ...
ANALYSIS_DIR="/icgc/dkfzlsdf/analysis/OE0290_projects/pediatric_tumor/panel_sequencing"
RESULTS_PER_PIDS_DIR=$ANALYSIS_DIR/results_per_pid

CHR_PREFIX="" # set to '' for samples with chr-less coordinates
CHR_SUFFIX="" # set to '.fa' for ill-named EMBL samples
PIPELINE_DIR=/icgc/dkfzlsdf/analysis/OE0290_projects/pediatric_tumor/panel_sequencing/processing_scripts/addBAMinfo/

#TOOLS_DIR=/home/hutter/workspace_ngs/ngs2/trunk/tools
TOOLS_DIR=/icgc/ngs_share/ngsPipelines/tools

MPILEUP_PARAMS="-ABRI -q 1 -Q 20 -F 0 -d 10000"	# pileup to look for the variant. MAPQ -q 1, BASEQ -Q 0

# parameter for Perl script
ADD_TYPE=c	# r: RNA; c: compare; outcomment => defaults to control

### Cluster-related parameters
EMAIL=p.puranachot@dkfz-heidelberg.de

#CLUSTER_EO=/icgc/dkfzlsdf/analysis/hipo2/hipo_K42R/panel_sequencing/bsublog


ADD_PBS_RESOURCES="-q verylong -R \"rusage[mem=5GB]\""	# for the vcf and pileups on local scratch and final output file (caution: for genome-wide annotation, use at least 4g, otherwise it will be truncated!
#EO_MAIL_OPTS="-oo $CLUSTER_EO -eo $CLUSTER_EO "

### Reference genome
REFERENCE_GENOME=/icgc/dkfzlsdf/dmg/otp/production/processing/reference_genomes/bwa06_1KGRef_PhiX/hs37d5_PhiX.fa
CHROMOSOME_INDICES=({1..22} X Y) # needs to be an array; do not quote or omit the parentheses
CHR_PREFIX="" # set to '' for samples with chr-less coordinates
CHR_SUFFIX="" # set to '.fa' for ill-named EMBL samples

### Parameters affecting output file location and name
### For standard processing this should not be changed
ADD_SUBDIR=addAnnotation	# relative to $RESULTS_PER_PIDS_DIR/$pid
ADD_OUTPUT_SUFFIX=_compareSOLiD_functional_indels	# prefix depends is the snv file name, see below

### Parameters affecting input file location and name
#SNV_FILE=$RESULTS_PER_PIDS_DIR/'${pid}'/mpileup/snvs_'${pid}'_somatic_snvs_conf_8_to_10.vcf	# SNV file to add annotation to. Can also be compressed (detected by .gz suffix)


COMPRESS_RESULT=0	# set to 1 for compressing the resulting file with bgzip and create a tabix index


# the BAM(s) for pileup to compare to
#ADDBAM_DIR=alignment	# relative to RESULTS_PER_PIDS_DIR
#ADDBAM_LABEL=metastasis
#ADDBAM_LABEL=tumor
#ADDBAM2_LABEL=tumor01
#tumor_pid=`echo ${pid} | sed -e 's/LB-//g'`
#BAMFILE_FULLPATH=$RESULTS_PER_PIDS_DIR/'${pid}'/$ADDBAM_DIR/${ADDBAM_LABEL}_'`echo ${pid} | sed -e 's/LB-//g'`'_merged.mdup.bam
#BAMFILE2_FULLPATH=$RESULTS_PER_PIDS_DIR/'${pid}'/$ADDBAM_DIR/${ADDBAM2_LABEL}_'${pid}'_merged.mdup.bam	# leave out/empty if only one BAM has to be regarded

# for the headers
ADD1=tumor
ADD2=cfDNA

### Other parameters which should normally not be changed
SAMTOOLS=samtools
